header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: var(--header-section-height);
}

.header__column {
  display: flex;
  font-weight: var(--text-weight-bold);
  margin-top: var(--screen-margin-vertical);
  border: 1px solid;
}

.header__column:first-child {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--text-size-normal);
}

.header__column:first-child h1 {
  position: absolute;
  width: 60vw;
  top: 5px;
}

.header__column:nth-child(2) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--text-size-large);
}

.header__column:last-child {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.header__column__date {
  font-size: var(--text-size-normal);
  margin-bottom: var(--screen-margin-vertical);
}
.header__column__weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--text-size-small);
}

.header__column__weather span:first-child {
  margin-bottom: var(--screen-margin-vertical);
}

.login-form,
.logout-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*.hidden{}은 반드시 .login-form{}보다 아래에 있어야 한다.*/
.hidden {
  display: none;
}

.login-form input:first-child {
  width: 150px;
  padding: 10px;
  border-radius: var(--UI-border-radius);
  border: none;
  box-shadow: var(--UI-shadow);
  margin-bottom: var(--screen-margin-vertical);
}

.login-form input:last-child,
.logout-form input {
  position: absolute;
  top: 50px;
  width: 100px;
  padding: 10px;
  border-radius: var(--UI-border-radius);
  border: none;
  box-shadow: var(--UI-shadow);
  font-size: var(--text-size-small);
  background-color: var(--UI-color-dark);
  color: var(--text-color);
  cursor: pointer;
}
