main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: var(--screen-width);
  height: var(--main-section-height);
  padding: 0 var(--screen-margin-horizontal);
  box-sizing: border-box;
}

.quote-section {
  display: flex;
  /* width: 100%; */
  height: var(--quote-section-height);
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-weight: var(--text-weight-bold);
}

.quote-section span:first-child {
  font-size: var(--text-size-normal);
  margin-bottom: var(--screen-margin-vertical);
  text-align: center;
  line-height: 140%;
}

.quote-section span:last-child {
  font-size: var(--text-size-small);
  text-align: center;
  line-height: 140%;
}

.todo-list-section {
  top: var(--quote-section-height);
  display: flex;
  /* width: 100%; */
  height: var(--todo-list-section-height);
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--UI-color);
  box-shadow: var(--UI-shadow);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
}

.checked-todo {
  opacity: 0.3;
}

.todo-form {
  width: 100%;
}

.todo-form input {
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  border-bottom: 1px solid var(--UI-color);
  background: rgba(0, 0, 0, 0.7);
}

.todo-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.todo-list::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
  border-radius: var(--UI-border-radius);
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: var(--UI-color);
  border-radius: var(--UI-border-radius);
}

.todo-list::-webkit-scrollbar-track {
  border-radius: var(--UI-border-radius);
  box-shadow: inset 0px 0px 5px var(--UI-color-dark);
}

.todo-list li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.todo-list i {
  margin-right: 20px;
  border: 2px var(--UI-color) solid;
  box-shadow: var(--UI-shadow);
  border-radius: 50%;
  padding: 5px;
  color: var(--UI-color);
  cursor: pointer;
}

.todo-list li span {
  display: flex;
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-small);
  line-height: 140%;
}
