@import "./reset.css";
@import "./variables.css";

.hidden {
  display: none;
}

.appear {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

img {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.img-before-login {
  z-index: 1;
  opacity: 1;
}

.img-after-login {
  z-index: -1;
  opacity: 0.5;
}

header {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: var(--screen-width);
  height: 20vh;
  /* border: 1px dashed; */
}

.header__row {
  display: flex;
  font-weight: var(--text-weight-bold);
  margin-top: var(--screen-margin-vertical);
}

.header__row:first-child {
  justify-content: space-between;
  font-size: var(--text-size-normal);
}

.header__row:last-child {
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--text-size-small);
}

.header__row:last-child span:last-child {
  margin-top: var(--screen-margin-vertical);
}

.login-form {
  align-items: center;
}

.login-form input {
  height: 100%;
  font-size: var(--text-size-small);
}

.login-form input:first-child {
  border: none;
  margin-right: var(--screen-margin-horizontal);
}

.login-form input:last-child {
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  width: var(--screen-width);
  height: 60vh;
  /* border: 1px dashed; */
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--screen-margin-vertical);
}

.quote span:first-child {
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-bold);
  margin-bottom: var(--screen-margin-vertical);
}

.quote span:last-child {
  font-size: var(--text-size-small);
}
