@import "./reset.css";
@import "./variables.css";
@import "./header.css";
@import "./main.css";

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  background-color: black;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  overflow: hidden;
  box-sizing: border-box;
}

#background-image {
  position: fixed;
  z-index: -1;
  opacity: 0.5;
}
