:root {
  --screen-width: 96vw;
  --screen-margin-horizontal: 3vw;

  --screen-margin-vertical: 3vh;

  --text-color: whitesmoke;
  --text-shadow: 2px 2px 1px black;
  --text-size-large: 2rem;
  --text-size-normal: 1.2rem;
  --text-size-small: 1rem;
  --text-weight-bold: 600;

  --header-section-height: 20vh;
  --quote-section-height: 30vh;
  --todo-list-section-height: 40vh;
}
