:root {
  --screen-width: 96vw;
  --screen-margin-horizontal: 2vw;

  --screen-margin-vertical: 3vh;

  --text-color: whitesmoke;
  --text-shadow: 2px 2px 1px black;
  --text-size-large: 2rem;
  --text-size-normal: 1.5rem;
  --text-size-small: 1rem;
  --text-weight-bold: 600;
}
