header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-section-height);
  padding: var(--screen-margin-vertical) var(--screen-margin-horizontal);
  padding-bottom: 0px;
  box-sizing: border-box;
  /* border: 1px solid var(--UI-color); */
}

.header__column {
  display: flex;
  font-weight: var(--text-weight-bold);
  line-height: 140%;
}

.header__column:first-child {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--text-size-normal);
}

.header__column:last-child {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.header__column__greeting {
  white-space: nowrap;
  margin-bottom: var(--screen-margin-vertical);
}

.header__column__date,
.header__column__clock {
  font-size: var(--text-size-normal);
  margin-bottom: var(--screen-margin-vertical);
  white-space: nowrap;
}

.header__column__weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--text-size-small);
  white-space: nowrap;
}

.login-form,
.logout-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-form input:first-child {
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: var(--UI-border-radius);
  border: none;
  box-shadow: var(--UI-shadow);
  margin-bottom: var(--screen-margin-vertical);
}

.login-form input:last-child,
.logout-form input {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: var(--UI-border-radius);
  border: none;
  box-shadow: var(--UI-shadow);
  font-size: var(--text-size-small);
  background-color: var(--UI-color-dark);
  color: var(--text-color);
  cursor: pointer;
}
