:root {
  --screen-width: 100%;
  --screen-margin-horizontal: 20px;

  --screen-margin-vertical: 10px;

  --text-color: whitesmoke;
  --text-shadow: 2px 2px 1px black;
  --text-size-large: 2rem;
  --text-size-normal: 1.2rem;
  --text-size-small: 1rem;
  --text-weight-bold: 600;
  --UI-color: rgb(0, 160, 160);
  --UI-color-dark: rgb(0, 80, 80);
  --UI-shadow: 2px 2px 1px black;
  --UI-border-radius: 5px;

  --header-section-height: 20%;
  --main-section-height: 80%;

  --quote-section-height: 30%;
  --todo-list-section-height: 70%;
}
